<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <ng-template matStepperIcon="box">
    <mat-icon>account_circle</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="firststep">
    <fa-icon [icon]="['far', 'user-circle']"></fa-icon>
  </ng-template>

  <mat-step [stepControl]="mainFormGroup.get('firstFormGroup')" state="firststep">
    <ng-template matStepLabel>פרטי המשלוח</ng-template>
    <app-shipping-data [firstFormGroup]="mainFormGroup.get('firstFormGroup')"></app-shipping-data>
  </mat-step>

  <mat-step [stepControl]="mainFormGroup.get('secondFormGroup')" state="box">
    <ng-template matStepLabel>פרטי המבקש</ng-template>
    <app-applicant-information [secondFormGroup]="mainFormGroup.get('secondFormGroup')"></app-applicant-information>
  </mat-step>

  <mat-step [stepControl]="mainFormGroup.get('thirdFormGroup')">
    <ng-template matStepLabel>פרטי הטובין</ng-template>
    <app-material-information [thirdFormGroup]="mainFormGroup.get('thirdFormGroup')"></app-material-information>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>אישור וסיום</ng-template>
    <app-final-step *ngIf="formValid && allData" [data]="allData" (goBack)="goBack($event, stepper)"></app-final-step>
  </mat-step>
</mat-horizontal-stepper>