<div class="card">
    <h3>פרטי המשלוח</h3>
    <div class="information">
        <div class="column">
            <div class="result-text">
                <p class="field">שם מקבל המשלוח:</p>
                <p class="data">{{data.deliveryTarget.recieverName}}</p>
            </div>
            <div class="result-text" *ngIf="data.deliveryTarget.requiredPassage">
                <p class="field">מעבר מבוקש:</p>
                <p class="data">{{data.deliveryTarget.requiredPassage.title}}</p>
            </div>
            <div class="result-text">
                <p class="field">שם הנהג:</p>
                <p class="data">{{data.deliveryTarget.driverName}}</p>
            </div>
            <div class="result-text">
                <p class="field">יעד:</p>
                <p class="data">{{data.deliveryTarget.address}}<span>, {{data.deliveryTarget.location}}</span></p>
            </div>
        </div>
        <div class="column">
            <div class="result-text">
                <p class="field">מספר טלפון:</p>
                <p class="data">{{data.deliveryTarget.recieverPhoneNumber}}</p>
            </div>
            <div class="result-text">
                <p class="field">ערך כספי של הסחורה:</p>
                <p class="data">{{data.deliveryTarget.moneyValue.value}} <span *ngIf="moneyType">{{moneyType}}</span>
                </p>
            </div>
            <div class="result-text">
                <p class="field">ת"ז הנהג:</p>
                <p class="data">{{data.deliveryTarget.driverId}}</p>
            </div>
        </div>
    </div>
    <!-- <div class="information">
        <div class="column">
            <div class="result-text">
                <p class="field">יעד:</p>
                <p class="data">{{data.deliveryTarget.address}}<span>, {{data.deliveryTarget.location}}</span></p>
            </div>
        </div>
    </div> -->
    <mat-divider></mat-divider>
    <!-- <div class="information">
        <div class="column">
            <div class="result-text">
                <p class="field">מסמכים נוספים</p>
                <p class="data">{{data.deliveryTarget.recieverName}}</p>
            </div>
        </div>
    </div> -->
    <div class="result-buttons">
        <button mat-button class="edit" (click)="edit()">עריכה</button>
    </div>
</div>